.mainDiv{
    background-color: rgb(214, 108, 214);
    text-align: center;
    width:40%;
    margin: auto;
    border : 2px solid rgb(214, 108, 214);



}
.strike{
    background-color: rgb(255, 170, 255);
    
}
.mainDiv input{
    margin: auto;
    width: 100%;
    text-decoration: none;
    border: none;


}